.container{
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .quiz-box{
    background-color: powderblue;
    padding: 20px;
    margin-top: 50px;
    box-shadow: 2px 1px 15px rgb(183, 210, 221);
  }
  .quiz-header{
    display: flex;
    justify-content: space-between;
  }
  #count-down{
    width: 100px;
    background-color: white;
    color: black;
    border-radius: 20px;
    height: 25px;
  }
  #question{
    color: rgb(202, 47, 47);
    display: flex;
    font-weight: bold;
  }
  .btn{
      width: 100%;
      background-color: white;
      margin: 5px;
      text-align: left;
      color: black;
  }
  .btn:hover{
      background-color: rgb(216, 127, 216);
      color: white;
  }
  .btn:active{
      background-color: rgb(89, 149, 114);
      color: white;
  }


#score {
    color: midnightblue;
    text-align: center;
    font-size: 20px;
    margin-bottom: 2rem;
}

.quiz-repeat { 
    text-align: center;
    margin: 0 auto;
    margin-bottom: 4rem;
}

.quiz-repeat a {
    font-weight: 600;
    color: black;
    text-decoration: none;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
}

.quiz-repeat a:hover {
  background-color: rgb(216, 127, 216);
  color: white;
}